<!DOCTYPE html>
<html>

<head>
  <title>Groupie Tracker</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="../favicon.ico">
  <link rel="stylesheet" href="../css/search.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

  <!-- Header -->
  <div class="header"> 
    <a href="/"><h1 href="/">Groupie Tracker</h1></a>
  </div> 

  <!-- <div class="searchbox">
    <div class="shadow" id="search"></div>
    <input type="text" id="myInput" placeholder="Rechercher ce que vous voulez...">
    <ul id="results"></ul>
    <ion-icon name="search-outline"></ion-icon>
  </div>
  <div id="match-list"></div> -->

  <!-- <form autocomplete ="off" classe ="searching-machine">
    <div id="search" class="search-page">    
            <input id="myInput" placeholder="Search" type="text" name="searching-machine">
            <ul id="results"></ul>
  </form>
  <div id="match-list"></div>  -->

<div class="container">
  <input id="myInput" type="text" placeholder="Search...">
  <div class="search"></div>
</div>
<div id="match-list"></div>


<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
<script src="../JS/app.js"></script>
</body>
</html>